@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap");
body {
  background-color: #196E8A;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h6 {
  margin: 0;
}

/* COMPONENTS */
.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.text-white {
  color: #FFF;
}

.align-center {
  text-align: center;
}

/* ========== */
.m-footer {
  margin-bottom: 80px;
}

.header_wrapper, .navigation_container {
  color: #FFFFFF;
}

.navigation_container {
  background-color: #0D6E91;
  max-height: 32px;
  height: 100%;
  padding: 4px 56px;
  text-align: right;
  vertical-align: middle;
}
.navigation_container a {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.content_container {
  text-align: center;
  width: 100%;
  margin: 0 auto 104px;
  padding: 0;
}

/* === Header Section === */
.header_wrapper {
  text-align: center;
  max-width: 714px;
  width: 100%;
  margin: 80px auto 48px;
}
.header_wrapper .page_img {
  max-width: 200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 24px;
}
.header_wrapper .page_img img {
  width: 100%;
}
.header_wrapper .page_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 0 32px;
}
.header_wrapper .header_desc {
  font-size: 16px;
  margin-bottom: 32px;
}
.header_wrapper .header_action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.header_wrapper .header_action-btn .action-btn {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;
  color: #5E6C84;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 14px 12px 14px 38px;
  position: relative;
}

.whatsapp-btn::before, .viber-btn::before,
.telegram-btn::before {
  background-repeat: no-repeat;
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
}

.whatsapp-btn::before {
  background: url("assets/whatsapp.png");
}

.telegram-btn::before {
  background-image: url("assets/tg-icn.svg");
}

.viber-btn::before {
  background: url("assets/viber.png");
}

.header_domain {
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 32px auto 0;
}
.header_domain::before {
  content: "";
  background: url("assets/lock.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

/* === Shortname and Directories Section === */
.shortname_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 48px;
  gap: 24px;
  max-width: 1165px;
  margin: 0 auto;
}

.dir_container, .sn_container {
  background-color: #FFF;
  border-radius: 20px;
  padding: 24px;
  text-align: left;
}

.sn_container {
  background-color: #D4EEF7 !important;
}

.heading {
  color: #2999C1;
  margin-bottom: 24px;
}

.grid {
  position: relative;
  width: 100%;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: calc(25% - 9px);
}

.gutter-sizer {
  width: 12px;
}

.grid-item {
  height: auto;
  float: left;
  background: #FFF;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 12px;
}

.grid-item--width2 {
  width: calc(50% - 6px);
}

.grid-item--width3 {
  width: calc(75% - 3px);
}

.grid-item--width4 {
  width: 100%;
}

.group {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 24px 12px 12px;
}
.group .group_title {
  color: #5E6C84;
  margin-bottom: 24px;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.slider_container .sn_box {
  width: calc(25% - 9px);
}

.sn_box {
  border-radius: 4px;
  border: 2px solid #E0E0E0;
  overflow: hidden;
  position: relative;
}
.sn_box .widget_sized_btn, .sn_box .thumbnail_sized_btn, .sn_box .dir_sized_btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  z-index: 99;
}
.sn_box .thumbnail_sized_btn, .sn_box .dir_sized_btn {
  height: 100%;
}
.sn_box .widget_wrapper {
  overflow: hidden;
  border-bottom: 2px solid #E0E0E0;
}
.sn_box .widget_wrapper .thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sn_box .widget_wrapper-height {
  height: auto;
}
.sn_box .widget_wrapper-height1 {
  height: 148px;
}
.sn_box .widget_wrapper-height2 {
  height: 269px;
}
.sn_box .widget_wrapper-height3 {
  height: 420px;
}
.sn_box .widget_wrapper-height4 {
  height: 654px;
}
.sn_box .sn_info {
  padding: 12px 36px;
  position: relative;
  min-height: 36px;
}
.sn_box .sn_info .sn_info-title {
  color: #5E6C84;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.sn_box .sn_info .sn_info-title .icn {
  background-repeat: no-repeat;
  left: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 16px;
  height: 16px;
}
.sn_box .sn_info .sn_info-title .apple-icn {
  background-image: url("assets/apple-icn.svg");
}
.sn_box .sn_info .sn_info-title .bookmark-icn {
  background-image: url("assets/bookmark-icon.svg");
}
.sn_box .sn_info .sn_info-title .yt-icn {
  background-image: url("assets/yt.png");
}
.sn_box .sn_info .sn_info-title .sk-icn {
  background-image: url("assets/sketchup-icn.png");
}
.sn_box .sn_info .sn_info-title .mp-icn {
  background-image: url("assets/matterport-icn.png");
}
.sn_box .sn_info .sn_info-title .db-icn {
  background-image: url("assets/dbox-icn.svg");
}
.sn_box .sn_info .sn_info-title .drive-icn {
  background-image: url("assets/dbox-icn.svg");
}
.sn_box .sn_info .sn_info-title .pint-icn {
  background-image: url("assets/pinterest-icn.svg");
}
.sn_box .sn_info .sn_info-title .photos-icn {
  background-image: url("assets/photos-icn.svg");
}
.sn_box .sn_info .sn_info-title .dir-icn {
  background-image: url("assets/dir-icn.svg");
}
.sn_box .sn_info .sn_info-description {
  color: #5E6C84;
  font-size: 14px;
  margin-top: 8px;
  opacity: 0.75;
}
.sn_box .sn_info .sn_info-description a {
  color: #5E6C84;
  font-size: 14px;
  margin-top: 8px;
  position: relative;
  opacity: 0.85;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  scroll-behavior: smooth;
}
.sn_box .sn_info .arrow-right {
  background-image: url("/assets/arrow-right.png");
  background-repeat: no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.sn_box .sn_dom {
  background-color: #2999C1;
  padding: 4px 12px;
}
.sn_box .sn_dom p {
  color: #FFF;
  font-size: 14px;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid-item, .grid-sizer,
.slider_container .sn_box {
    width: calc(33.33% - 8px) !important;
  }

  .grid-item--width2 {
    width: calc(66.67% - 4px) !important;
  }

  .grid-item--width3 {
    width: 100% !important;
  }

  .grid-item--width4 {
    width: 100% !important;
  }

  .sn_box .widget_wrapper-height2 {
    height: 230px !important;
  }
  .sn_box .widget_wrapper-height3 {
    height: 370px !important;
  }
  .sn_box .widget_wrapper-height4 {
    height: 450px !important;
  }
}
@media (max-width: 767px) {
  .navigation_container {
    padding: 4px 24px;
  }

  .header_wrapper {
    margin: 50px auto 24px;
  }
  .header_wrapper .page_title {
    font-size: 20px;
  }
  .header_wrapper .header_desc {
    font-size: 15px;
    padding: 0 24px;
  }
  .header_wrapper .page_img {
    width: 140px;
  }
  .header_wrapper .header_action-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_wrapper .header_action-btn .action-btn {
    font-size: 13px;
    max-width: 200px;
    width: 100%;
  }

  .dir_container, .sn_container {
    border-radius: 0;
    padding: 16px;
  }

  .grid-item, .grid-sizer {
    width: 100%;
  }

  .shortname_wrapper {
    padding: 0;
  }

  .slider_container .sn_box {
    width: 200px !important;
  }

  .sn_box .widget_wrapper-height2,
.sn_box .widget_wrapper-height3, .sn_box .widget_wrapper-height4 {
    height: 220px !important;
  }
  .sn_box .widget_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sn_box .widget_wrapper img {
    width: 200px !important;
  }
}
@media (max-width: 480px) {
  .header_wrapper .page_img {
    width: 120px;
  }

  .content_container {
    margin: 0 auto 50px;
  }

  .sn_box .widget_wrapper img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .sn_box .sn_info .sn_info-title {
    font-size: 15px;
  }
  .sn_box .sn_dom p {
    font-size: 13px;
  }

  .footer-img {
    width: 120px;
  }

  .footer-text {
    font-size: 14px;
    padding: 4px 16px;
  }
}
.tradingview-widget-copyright {
  height: 0;
}

.tradingview-widget-container {
  height: 100% !important;
  width: 100% !important;
}/*# sourceMappingURL=index.css.map */